{% extends 'base.html' %}
{% block body %}
  
  <div class="row">
    <div class="row">
     <div class="imress ">
       
      <p>
        share your thoughts <br> ispire . advise . boostmood
      </p>
             
     </div> 
  <a style="margin-left: 100px; text-align: center;" href="{{url_for('posts.create')}}" class="btn btn-lg btn-outline">POST BLOG</a>
    
      {% for post in posts %}
      <div style="margin-top: 80px;" class="col-md-4">
        <div class="card mx card-border" style="width:400px; color: white; text-align: center;padding: 30px; background-color: rgb(3, 30, 50); ">
          

          <div class="card-body mx-0 px-0">

            <div class="d-flex justify-content-between">

              <p class="text-muted">{{post.date_created.strftime('%Y-%m-%d')}}</p>
            </div>
            <h4 class="card-title mx-0 px-0">{{post.title}}</h4>
            <p class="card-text">{{post.description}}</p>

            <p class="fst-italic"> ~{{post.author.username}}</p>
  


            <div class="d-flex justify-content-between">
              
              <a style="text-decoration: none; padding: px; border-radius: 10px; background-color: red; color: white;" href="{{url_for('posts.post_delete',postid=post.id)}}">Delete post</a>
              <a style="text-decoration: none; padding: 10px; border-radius: 10px; background-color: green; color: white;" href="{{url_for('posts.post_edit',postid=post.id)}}">edit post</a>
              

             

            </div>
            <div class="collapse" id="comments{{post.id}}">
              


              <div class=" comments my-3">
                <p>Comments</p>
                <div class="card m-1">
                  {% for com in post.comments %}
                  <div class="d-flex justify-content-between">

                    <p class="lead fst-italic ">

                      {{com.comment}}
                      <div>

                        {% if current_user.id == post.author.id %}
                        <a href="{{url_for('posts.comment_delete',id=com.id)}}"
                          class="text-decoration-none delete">Delete</a>

                        {% endif %}
                      </div>

                    </p>
                  </div>
                  {% endfor %}



                </div>


              </div>

              <a href="{{url_for('posts.comments',id=post.id)}}" class="text-decoration-none text-muted">
                <img class="add my-4" src="{{url_for('static',filename='/assets/add.png')}}" alt="">Add
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>
<footer class="text-center bg-dark text-light">
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-linkedin"></i>
  <i class="fa-brands fa-youtube"></i>
</footer>
{% endblock %}>

